<div class="punbox">
	
    <div class="panel">

        <%= render 'puns/panel' %>
    	
    </div>

    <div class="pun">
    	<div class="pun-stats">

            <%= render "puns/pun_stats" %>

    	</div>
        <%= link_to (image_tag @pun.image_url(:punshow).to_s), "http://" + @pun.link %>
    </div>




</div>


<aside id="modal-<%= @pun.id %>" class="modal">
    <div>

        <div id="modal-share-pun">

        	<div class="topshow">
        		<div class="shared-pun">
                    <%= image_tag @pun.image_url(:share).to_s %>
                </div>

                <div class="thumbs">
                    Par <%= image_tag @pun.user.avatar_url(:pundatathumb).to_s, :title => @pun.user.username %> sur 

                    <% Pun.where("board_id = ?", @pun.board).first(1).each do |boardthumb| %>
                    	<%= image_tag boardthumb.image_url(:datathumb).to_s, :title => @pun.board.name %>
                    <% end %>
                </div>
        	</div>

        	<div class="forms">
        		<%= form_for(Pun.new(params[:pun])) do |f| %>
        		<div class="left">
        			<%= f.text_field :title, :value => @pun.title %>

        			<%= f.text_field :description, :value => @pun.description %>

        		</div>

        		<div class="right">
                    <select id="pun_board_id" name="pun[board_id]">
                       	<% Board.where("user_id = ?", current_user.id).each do |board|  %>
                           	<option value="<%= board.id %>"><%= board.name %> </option>
                       	<% end %>
                    </select>

                    <%= link_to "Ajouter un Tableau", "#modal-new-board" %>
        		</div>

        		<%= f.hidden_field :remote_image_url, :value => "http://localhost:3000"+@pun.image_url.to_s %>
                <%= f.hidden_field :user_id, :value => current_user.id %>


                <% if @pun.original_board_id.nil? %>
                    <%= f.hidden_field :original_board_id, :value => @pun.board_id %>
                    <%= f.hidden_field :original_punaise_id, :value => @pun.id %>
                    <%= f.hidden_field :original_user_id, :value => @pun.user_id %>
                <% else %>
                    <%= f.hidden_field :original_board_id, :value => @pun.original_board_id %>
                    <%= f.hidden_field :original_punaise_id, :value => @pun.original_punaise_id %>
                    <%= f.hidden_field :original_user_id, :value => @pun.original_user_id %>
                <% end %>

                <%= f.hidden_field :websource, :value => @pun.websource %>
                <%= f.hidden_field :link, :value => @pun.websource %>

                <div id="actions">
	                <input name="commit" type="submit" value="Clouer" />
                </div>

        		<% end %>
        	</div>
                          



                </div>
        <a href="#close" title="Close">Close</a>
    </div>
</aside> 