<div class="punbox">
	
    <div class="panel">

        <%= render 'puns/panel' %>
    	
    </div>

    <div class="pun">
    	<div class="pun-stats">

            <%= render "puns/pun_stats" %>

    	</div>
        <%= link_to (image_tag @pun.image_url(:punshow).to_s), "http://" + @pun.link %>
    </div>




</div>

<!-- REPUN MODAL -->
<% if user_signed_in? %>

<div id="modal-<%= @pun.id %>" class="modal">

        <div id="modal-share-pun">

            <div class="header">
                Partager La Punaise
            </div>


            <%= form_for(Pun.new(params[:pun])) do |f| %>
            <div class="formsblock">
                
                <div class="left">


                    <div class="field">
                        <div class="label">
                            Description:
                        </div>

                        <div class="input">
                            <%= f.text_area :description, :value => @pun.description %>
                        </div>
                    </div>



                    <div class="field">
                        <div class="label">
                            Sur Quel Tableau Va Votre Punaise:
                        </div>

                        <div class="input">
                            <select id="pun_board_id" name="pun[board_id]" value="<%= @pun.board_id %>">
                                <% Board.where("user_id = ?", current_user.id).each do |board|  %>
                                    <option value="<%= board.id %>"><%= board.name %> </option>
                                <% end %>
                            </select>
                        </div>
                    </div>


                    <div class="fieldbutton">
                        <div class="label">
                            
                        </div>

                        <div class="input">
                            <%= link_to "Ajouter un Tableau", "#modal-new-board", :rel => "modal:open" %>
                        </div>
                    </div>


                </div>

                <div class="right">

                    <div class="shared-pun">
                        <%= image_tag @pun.image_url(:share).to_s %>
                    </div>
                        
                </div>

            </div>



                <%= f.hidden_field :remote_image_url, :value => "http://localhost:8080"+@pun.image_url.to_s %>
                <%= f.hidden_field :user_id, :value => current_user.id %>


                <% if @pun.original_board_id.nil? %>
                    <%= f.hidden_field :original_board_id, :value => @pun.board_id %>
                    <%= f.hidden_field :original_punaise_id, :value => @pun.id %>
                    <%= f.hidden_field :original_user_id, :value => @pun.user_id %>
                <% else %>
                    <%= f.hidden_field :original_board_id, :value => @pun.original_board_id %>
                    <%= f.hidden_field :original_punaise_id, :value => @pun.original_punaise_id %>
                    <%= f.hidden_field :original_user_id, :value => @pun.original_user_id %>
                <% end %>

                <%= f.hidden_field :websource, :value => @pun.websource %>
                <%= f.hidden_field :link, :value => @pun.websource %>

            <div id="actions">
                <input name="commit" type="submit" value="Clouer" />
            </div>


                          
            <% end %>


        </div>

</div> 

<% end %>





<!-- EDITION MODAL -->
<% if user_signed_in? %>

<div id="modal-edit-<%= @pun.id %>" class="modal">

        <div id="modal-edit-pun">

            <div class="header">
                Modifier La Punaise
            </div>

            <%= form_for(@pun) do |f| %>

                <div class="formsblock">

                    <div class="field">
                        <div class="label">
                            Source:
                        </div>

                        <div class="input">
                            <%= f.text_field :link, :value => @pun.link %>
                        </div>
                    </div>



                    <div class="field">
                        <div class="label">
                            Description:
                        </div>

                        <div class="input">
                            <%= f.text_area :description, :value => @pun.description %>
                        </div>
                    </div>



                    <div class="field">
                        <div class="label">
                            Sur Quel Tableau Va Votre Punaise:
                        </div>

                        <div class="input">
                            <select id="pun_board_id" name="pun[board_id]" value="<%= @pun.board_id %>">
                                <% Board.where("user_id = ?", current_user.id).each do |board|  %>
                                    <option value="<%= board.id %>"><%= board.name %> </option>
                                <% end %>
                            </select>
                        </div>
                    </div>



                    <div class="fieldbutton">
                        <div class="label">
                            
                        </div>

                        <div class="input">
                            <%= link_to "Ajouter un Tableau", "#modal-new-board", :rel => "modal:open" %>
                        </div>
                    </div>


                    <div class="field">
                        <div class="label">
                            Categorie:
                        </div>

                        <div class="input">
                            <select id="pun_board_id" name="pun[category_id]" value="<%= @pun.category_id %>">
                                <% Category.order("name ASC").each do |category|  %>
                                    <option value="<%= category.id %>"><%= category.name %> </option>
                                <% end %>
                            </select>
                        </div>
                    </div>


                    <div class="field">
                        <div class="label">
                            Est à Vendre:
                        </div>

                        <div class="input">
                            <%= f.text_field :price, :placeholder => "Laisser vide sinon..." %>
                        </div>
                    </div>


                    <div class="field">
                        <div class="label">
                            Quel Devise:
                        </div>

                        <div class="input">
                            <select id="pun_currency_id" name="pun[currency_id]" value="1">
                                <% Currency.order("name ASC").each do |currency|  %>
                                    <option value="<%= currency.id %>"><%= currency.name %> </option>
                                <% end %>
                            </select>
                        </div>
                    </div>


                </div>



                <div id="actions">
                    <input name="commit" type="submit" value="Mettre à Jour" />
                </div>




            <% end %>

    </div>
</div> 

<% end %>

