<aside id="modal-new-pun" class="modal">
    <div>


        	<div id="new-punaise-modal">

          		<%= form_for(Pun.new(params[:pun])) do |f| %>
        		
				<div class="left">
					
					<div class="field">
				    	Selectionnez votre punaise<br />
				    	<%= f.file_field :image %>
				 	</div>

				 	<div class="field">
				    	<%= f.text_field :title, :placeholder => "Titre" %>
		  			</div>

				  	<div class="field">
						<%= f.text_field :link, :placeholder => "Lien vers..." %>
					</div>

				  	<div class="field">
				    	<%= f.text_area :description, :placeholder => "Description..." %>
				  	</div>

				</div>

				<div class="right">
					
					<div class="field">
				    	Dans :<br />
				    	<select id="pun_board_id" name="pun[board_id]">
				      	<% Board.where("user_id = ?", current_user.id).each do |board|  %>
				        	<option value="<%= board.id %>"><%= board.name %> </option>
				      	<% end %>
				    	</select>
				  	</div>

				  	<div class="button">
				  		<%= link_to "Ajouter un Tableau", "#modal-new-board" %>
				  	</div>

				  	<div class="field">
				    	Dans quelle categories s'intègre votre punaises<br />
				    	<select id="pun_board_id" name="pun[category_id]">
				      	<% Category.order("name ASC").each do |category|  %>
				        	<option value="<%= category.id %>"><%= category.name %> </option>
				      	<% end %>
				    	</select>
				  	</div>


				</div>

			    <%= f.hidden_field :user_id, :value => current_user.id %>
			    <%= f.hidden_field :original_user_id, :value => current_user.id %>

	            <div id="actions">
	              	<input name="commit" type="submit" value="Clouer" />
	            </div>

	            <% end %> 

        	</div>


        <a href="#close" title="Close">Close</a>
        </div>
</aside>